<div class="container">
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
          jQuery(document).ready(function () {
          console.log('Started****');
          debugger;
              if ('OTPCredential' in window) {
                  debugger;
                  window.addEventListener('DOMContentLoaded', e => {
                      debugger;
                  const input = document.querySelector('input[autocomplete="one-time-code"]');
                  if (!input) return;
                  const ac = new AbortController();
                  const form = input.closest('form');
                  debugger;
                  if (form) {
                      debugger;
                      form.addEventListener('submit', e => {
                      ac.abort();
                      });
                  }
                  navigator.credentials.get({
                      otp: { transport:['sms'] },
                      signal: ac.signal
                  }).then(otp => {
                      debugger;
                      input.value = otp.code;
                      if (form) form.submit();
                  }).catch(err => {
                      debugger;
                      console.log(err);
                  });
                  });
              }
      
          });
              
          </script> -->
       

        <h1>
            The simplest Web OTP API demo/
          </h1>
          <div>
            Process Exp: Send an SMS that includes <pre><code>@web-otp.glitch.me #12345</code></pre> to this phone.
          </div>
          <div style="border:1px solid; padding: 5px; margin: 10px 0;">
            <form action="ngPwaApp/test" method="post">
              Enter OTP here:{{myOTP}}
              <input type="text" autocomplete="one-time-code" inputmode="numeric" name="one-time-code"
              [(ngModel)]="myOTP" >
              <input type="submit" value="Submit">
            </form>
          </div>

          
        
         


    </div>