<div class="container">
    <div class="borderSection checkInternet">
        <div>
            <label><b>Check Internet Stataus:</b></label>
        </div>
        <div>
            <button (click)="checkInternetConnectivity()">Check</button>
            <p *ngIf="internetStatus">
                Current Internet Status:&nbsp;<b> {{internetStatus}} </b>
            </p>
            <p *ngIf="!internetStatus">
                For checking internet status click on Check button, it will show currenst status of the internet.
            </p>
            <p *ngIf="internetStatus">
                For Toogle internet status set offline or online from "Console Network tab".
            </p>
        </div>
    </div>

    <div class="borderSection">
        <h1>
            The simplest Web OTP API demo/
          </h1>
          <div>
            Process Exp: Send an SMS that includes <pre><code>@rohit3230.github.io #12345</code></pre> to this phone.
          </div>
          <div style="border:1px solid; padding: 5px; margin: 10px 0;">
            <form action="ngPwaApp/test" method="post">
              Enter OTP here:
              <input type="text" autocomplete="one-time-code" inputmode="numeric" name="one-time-code"
              [(ngModel)]="myOTP" >
              <input type="submit" value="Submit">
            </form>
          </div>
    </div>
</div>